<div class="" style="display: inline-block;border:1px solid red;">
    <label><%=dataTag.getAttribute("label")%></label><br/>
    <select bind="select">
        <option value="<%=dataTag.getAttribute('label')%>"><%=dataTag.getAttribute("label")%></option>
        <% _.forEach(dataTag.children,function(val,key,collection){%>
            <option value="<%=val.getAttribute('id')%>"><%=val.getAttribute("label")%></option>
        <%});%>
    </select>
</div>
